<!DOCTYPE html>
<head>
    <meta property="og:title" content="Arturo Images">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/assets/webicon.png">
    <link rel='stylesheet' href='/static/css/style.css'>
    <title>Image</title>
</head>
<body>
    <div class="container">
        <a href="<%= image %>">
            <img src="<%= image %>">
        </span>
    </div>
</body>

